@model DataLayer.DTO.AdminDTO.ScheduleModel
@{
    Layout = "_AdminPhysicianHeader";
      ViewData["Active"] = "Provider";
    ViewData["SubMenu"] = "Scheduling";
}
<link rel="stylesheet" href="/css/Calender.css" />

<div>

    <div class="d-flex justify-content-center">
        <div class="mt-3 container-fluid">


            <div class="d-flex align-items-center">
                <div><h3 class="fw-bold">Scheduling</h3></div>
                <div class="flex-grow-1 text-end">
                    <button class="  back-btn btn-outline-info back mt-2 rounded p-2 "
                            onclick="back()">
                        &lt Back
                    </button>
                </div>

            </div>
            <div>
                <div class="d-inline-flex align-items-center w-100">
                    <div class="input-group  rounded ms-lg-4 me-lg-4 m-3 w-auto" style="border:2px solid #dee2e6; border-radius:5px;">

                        <span class="input-group-text inputIcon "><i class="bi bi-search "></i></span>
                        <select class="form-select h-100 input providerStateDrop " id="fregion" aria-label="Default select example assignRegion">
                            <option value="0" selected>All</option>

                        </select>
                    </div>
                    <div class="flex-grow-1 text-end">
                        <a asp-action="ProviderOnCall" asp-controller="Admin" class="btn btn-info text-white m-2 text-decoration-none">Provider On Call</a>
                        <a asp-action="RequestedShifts" asp-controller="Admin" class="btn btn-info text-white m-2">Shift for Review</a>
                        <button data-toggle="modal" data-target="#createShiftModal" class="btn btn-info text-white m-2">Add New Shift</button>
                    </div>
                </div>
                <div>
                    <div class="calendar-current-date fs-4 fw-bolder">

                  </div>

                </div>
                <div class="d-flex justify-content-end">
                    <div class="d-inline-flex">
                        <div style="background-color:#f8abdae8" class="alert alert-panding mx-1 px-4" role="alert">
                        </div>
                        <span class="m-1">Panding Shifts</span>
                        <div class="alert alert-success mx-1 px-4" role="alert">
                        </div>
                        <span class="m-1">Appoved Shifts</span>

                    </div>
                </div>
                <div class="d-flex justify-content-between ps-4">
                    <div class="calendar-navigation">
                        <span id="calendar-prev" class="btn btn-info text-white rounded-circle">❮</span>
                        <span class="mx-3"><i class="fa-regular fa-calendar-days"></i></span>
                        <span id="calendar-next" class="btn btn-info text-white rounded-circle">❯</span>
                    </div>
                    <div class="d-flex justify-content-end">
                        <div type="button" id="day" class="btn btn-outline-info hover_white mx-2">
                            Day
                        </div>
                        <div type="button" id="week" class="btn btn-outline-info hover_white mx-2">
                            Week
                        </div>
                        <div type="button" id="month" class="btn btn-outline-info hover_white mx-2">
                            Month
                        </div>
                    </div>
                </div>
                <div class="mt-5" id="calendar"></div>
                <div>

                    <div id="monthcontainer" class="calendar-body  calendar-container">
                        <table class="calendar-table w-100 ">
                            <thead>
                                <tr class="calendar-weekdays">
                                    <!-- Weekday headers will be populated dynamically -->
                                </tr>
                            </thead>
                            <tbody class="calendar-dates">
                                <!-- Calendar dates will be populated dynamically -->
                            </tbody>
                        </table>
                    </div>


                    <div style="display:none" id="weekviewcontainer" class="active">

                        <table style="width:100%;">
                            <thead>
                                <tr class="weekhead">
                                    <td>Staff</td>
                                    <td class="title" data-name="Sun">Sun</td>
                                    <td class="title" data-name="Mon">Mon</td>
                                    <td class="title" data-name="Tue">Tue</td>
                                    <td class="title" data-name="Wed">Wed</td>
                                    <td class="title" data-name="Thu">Thu</td>
                                    <td class="title" data-name="Fri">Fri</td>
                                    <td class="title" data-name="Sat">Sat</td>
                                </tr>

                                <tr class="Converage">
                                    <td>Converage</td>
                                    <td class="" data-name="Sun">0/24</td>
                                    <td class="" data-name="Mon">0/24</td>
                                    <td class="" data-name="Tue">0/24</td>
                                    <td class="" data-name="Wed">0/24</td>
                                    <td class="" data-name="Thu">0/24</td>
                                    <td class="" data-name="Fri">0/24</td>
                                    <td class="" data-name="Sat">0/24</td>
                                </tr>
                            </thead>

                            <tbody class="main">
                            </tbody>
                        </table>
                    </div>

                    <div id="daycontainer" style="display:none;">
                        <div class="schedule">
                            <table class="employee-schedules w-100">
                                <thead class="employee-schedules-thead">
                                    <tr>
                                        <td>Staff</td>
                                        <td>12 A</td>
                                        <td>1 A</td>
                                        <td>2 A</td>
                                        <td>3 A</td>
                                        <td>4 A</td>
                                        <td>5 A</td>
                                        <td>6 A</td>
                                        <td>7 A</td>
                                        <td>8 A</td>
                                        <td>9 A</td>
                                        <td>10 A</td>
                                        <td>11 A</td>
                                        <td>12 P</td>
                                        <td>1 P</td>
                                        <td>2 P</td>
                                        <td>3 P</td>
                                        <td>4 P</td>
                                        <td>5 P</td>
                                        <td>6 P</td>
                                        <td>7 P</td>
                                        <td>8 P</td>
                                        <td>9 P</td>
                                        <td>10 P</td>
                                        <td>11 P</td>
                                    </tr>
                                    <tr class="Converage">
                                        <td>Converage</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                </thead>
                                <tbody class="employee-schedules-table">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header viewallhead bg-info text-center text-white">
                <h1 class="modal-title fs-5" id="model-head"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body viewallbody">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@* Create shift *@
<div class="modal fade" id="createShiftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Shift </h5>
                <button type="button" class="close btn " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-lg text-white"></i></span>
                </button>
            </div>
            <form  class="row p-3 createShiftForm" method="post">

                <div class="form-floating my-3">
                    <select asp-for="Regionid" class="form-select h-100 input providerStateDrop " id="fregion" aria-label="Default select example assignRegion">
                        <option value="0" selected>All</option>

                    </select>
                   
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select pt-1" asp-for="Physicianid" id="physicianSelect" aria-label="Default select example">
                        <option value="" selected disabled>Physician</option>
                    </select>
                </div>

                <div class="col-md-12 form-floating mb-3">
                    <input id="StartDate" asp-for="Startdate" class="form-control rounded vcs" name="Startdate" type="date" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Starting Date</label>
                </div>
                <div class="col-md-6 form-floating mb-3">
                    <input id="StartTime" asp-for="Starttime" class="form-control rounded vcs" name="Starttime" type="time" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">Start</label>
                </div>
                <div class="col-md-6 form-floating mb-3">
                    <input id="EndTime" asp-for="Endtime" class="form-control rounded vcs" name="Endtime" type="time" placeholder=Suchtext autocomplete=off>
                    <label for="floatingInput">End</label>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-start mb-3">
                    <label for="floatingInput">Repeat</label>
                    <label class="switch">
                        <input type="checkbox" asp-for="Isrepeat" id="Isrepeat" class="switch-input" onchange="toggleCheckboxes()">
                        <span class="slider round"></span>
                    </label>
                </div>

                <label class="my-2" for="Sunday">Repeat Days</label>
                <input type="hidden" asp-for="checkWeekday" id="checkWeekday" />

                <div class="col-md-12 row form-floating">

                    <div class="col-md-4">
                        <div class="form-check mx-2 d-flex align-items-center">
                            <input onchange="menubox()" class="form-check-input Every disabled" disabled type="checkbox" name="WeekDayForRepeat" value="0">
                            <label class="form-check-label" for="Sunday">Every Sunday</label>
                        </div>
                    </div>

                    <div class="col-md-4 ">
                        <div class="form-check mx-2 d-flex align-items-center">
                            <input onchange="menubox()" class="form-check-input Every" disabled type="checkbox" name="WeekDayForRepeat" value="1">
                            <label class="form-check-label" for="Monday">Every Monday</label>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-check mx-2 d-flex align-items-center">
                            <input onchange="menubox()" class="form-check-input Every" disabled type="checkbox" name="WeekDayForRepeat" value="2">
                            <label class="form-check-label" for="Tuesday">Every Tuesday</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check mx-2">
                            <input onchange="menubox()" class="form-check-input Every" disabled type="checkbox" name="WeekDayForRepeat" value="3">
                            <label class="form-check-label" for="Wednesday">Every Wednesday</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check mx-2 d-flex align-items-center">
                            <input onchange="menubox()" class="form-check-input Every" disabled type="checkbox" name="WeekDayForRepeat" value="4">
                            <label class="form-check-label" for="Thursday">Every Thursday</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check mx-2 d-flex align-items-center">
                            <input onchange="menubox()" class="form-check-input Every" disabled type="checkbox" name="WeekDayForRepeat" value="5">
                            <label class="form-check-label" for="Friday">Every Friday</label>
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="form-check mx-2 d-flex align-items-center">
                            <input onchange="menubox()" class="form-check-input Every" disabled type="checkbox" name="WeekDayForRepeat" value="6">
                            <label class="form-check-label" for="Saturday">Every Saturday</label>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 form-floating  my-2">
                    <select asp-for="Repeatupto" class="form-select form-select-sm mt-3 p-2" id="Refile" disabled data-allow-clear="true" tabindex="-1" data-control="select2" data-placeholder=" ">
                        <option  hidden>Reapet End</option>
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <hr class="form-button-divider" />
                <input type="hidden" id="checkWeekday" />

                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button type="button" onclick="saveShift()" class="btn btn-info text-white mx-2" >Save</button>
                        <button type="button" class="btn btn-outline-info hover_white" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Edit View -->
<div class="modal fade" id="EditView" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div style="background-color:#0dcaf0; color:white;" class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">View Shift</h5>
                <button type="button" class="close btn btn-lg text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="editshiftmodal" >
                <div class="modal-body container">
                    <div class="row">
                        <input type="number" id="editshiftid" name="shiftId" hidden/>
                        <div class="col-md-12 p-2">
                            <select class="form-select h-100 input" id="editregion" aria-label="Default select example assignRegion" disabled>
                                <option value="0" >All</option>

                            </select>
                        </div>
                        <div class="col-md-12 p-2">
                            <select class="form-select h-100 input  " id="editphy" aria-label="Default select example assignRegion" disabled >
                                <option value="0" >Physician</option>

                            </select>
                        </div> 
                        <div class="col-md-12 p-2">
                            <div class="col-md-12 form-floating mb-3">
                                <input id="editstartdate"  class="form-control rounded vcs" name="Startdate" type="date" placeholder=Suchtext autocomplete=off disabled>
                                <label for="floatingInput">Starting Date</label>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="form-floating mb-3">
                                <input id="editstarttime" class="form-control rounded vcs" name="Starttime" type="time" placeholder=Suchtext autocomplete=off disabled>
                                <label for="floatingInput">Start</label>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class=" form-floating mb-3">
                                <input id="editendtime"  class="form-control rounded vcs" name="Endtime" type="time" placeholder=Suchtext autocomplete=off disabled>
                                <label for="floatingInput">End</label>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="modal-footer border-0">

                    <button type="button" class="btn btn-info text-white" id="returnbtn" onclick="returnedit()">Return</button>
                    <button  type="button" class="btn btn-info text-white" id="editsubmit" onclick="enableEdits()">Edit</button>
                    <button class="btn  btn-info text-white " id="saveedit" type="button" style="display:none;" onclick="submitEditchanges()">Save</button>
                    <button type="button" class="btn btn-danger text-white" id="deletesubmit" onclick="deleteedit()">Delete</button>

                </div>
            </form>
        </div>
    </div>
</div>


<script src="/js/Scheduling.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
         $(document).on('click', ".viewmodel", openViewEditModel);

        var str = $('.providerStateDrop').val();
     
        $.ajax({
            method: "GET",
            url: "/Admin/FetchRegions",
            data: { search: str },
            success: function (response) {
                response.forEach(function (res) {
                    $('.providerStateDrop').append("<option value='" + res.regionid + "'>" + res.name + "</option>");
                });
            }
        });
    });

    $('.providerStateDrop').change(function () {
        var selectregionid = $(this).val();
        var physicianselect = $("#physicianSelect");
        physicianselect.empty().append("<option> Select a physician </option>");
        if (selectregionid) {
            $.ajax({
                url: './FetchPhysician?selectregionid=' + selectregionid,
                method: 'GET',
                success: function (response) {

                    response.forEach(function (res) {
                        $('#physicianSelect').append("<option value='" + res.physicianid + "'>" + res.name + "</option>");
                    });
                }
            });
        }

    });
    function saveShift(){
        var valid = false;
        $.ajax({
            url: '/Admin/IsShiftValid',
            method: 'post',
            data: $('form.createShiftForm').serialize(),
            success: function (response) {
                window.location.reload();
            }
        });

       
    }


    function openViewEditModel()
    {
        if ($(this).data("shiftid") !== "--") {
            var EditShiftModel = new bootstrap.Modal(document.getElementById('EditView'), {})
            EditShiftModel.show()

            $('#editstartdate').prop('disabled', true);
            $('#editstarttime').prop('disabled', true);
            $('#editendtime').prop('disabled', true);
            var shiftid = $(this).data("shiftid");

            $.ajax({
                method: "GET",
                url: "/Admin/GetShiftDetails",
                data: { shiftid: shiftid },
                success: function (response) {
                    $('#editregion').append("<option value='" + response.regionid + "' selected>" + response.regionName + "</option>");
                    $('#editphy').append("<option value='" + response.phyid + "' selected>" + response.phyname + "</option>");
                    let datetimeString = response.shiftDate;


                    let formattedDate = datetimeString.split('T')[0];

                    $('#editstartdate').val(formattedDate);
                    $('#editshiftid').val(response.shiftid);
                    $('#editstarttime').val(response.startTime);
                    $('#editendtime').val(response.endTime);
                }
            });
        }
      
    }

    function enableEdits(){
        $('#editsubmit').hide();
        $('#saveedit').show();
        $('#editstartdate').prop('disabled', false);
        $('#editstarttime').prop('disabled', false);
        $('#editendtime').prop('disabled', false);

    }

    function returnedit() {
        var shiftid = $('#editshiftid').val();
        $.ajax({
            method: "GET",
            url: "/Admin/ReturnShift",
            data: { id: shiftid },
            success: function (response) {
                window.location.reload();
            }
        });
    }

    function deleteedit(){
        var shiftid = $('#editshiftid').val();
        $.ajax({
            method: "GET",
            url: "/Admin/DeleteShift",
            data: { id: shiftid },
            success: function (response) {
                window.location.reload();
            }
        });
    }

    function submitEditchanges(){
        $.ajax({
            method: "POST",
            url: "/Admin/EditShift",
            data: $('form.editshiftmodal').serialize(),
            success: function (response) {
                window.location.reload();
            }
        });
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {


        var calendarEl = document.getElementById('calendar');

        var shifts = @Html.Raw(Json.Serialize(Model));

        var events = shifts.shifts.map(function (shift) {
            return {
                title: shift.providerName,
                start: new Date(shift.startDate),
                backgroundColor: shift.isPending ? 'red' : 'green',
                // display: 'background',
            };
        });

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            dayMaxEvents: true,
            events: events,
            eventClick: function (info) {
                $('#shiftDetailsModal').modal('show');
                $('#shiftDetailsModalTitle').text('Shift Details');
                $('#shiftDetailsModalBody').html('<p>Start Date: ' + info.event.start + '</p><p>Status: ' + (info.event.backgroundColor === 'red' ? 'Pending' : 'Approved') + '</p>');
            },
            views: {
                timeGridWeek: {
                    type: 'timeGridWeek',
                    columnHeaderFormat: { weekday: 'long' }
                }
            },
            headerToolbar: {
                left: 'prev,today,next',
                center: 'title',
                right: ''
            },
        });

        calendar.render();

        $('#monthButton').click(function () {
            calendar.changeView('dayGridMonth');
        });

        $('#dateButton').click(function () {
            calendar.changeView('timeGridDay');
        });

        $('#weekButton').click(function () {
            calendar.changeView('timeGridWeek');
        });
    });
</script>

<script type="text/javascript">

    var today = new Date();
    var formattedDate = today.toISOString().split('T')[0];

    document.getElementById('StartDate').min = formattedDate;
    document.getElementById('StartTime').addEventListener('change', function () {
        var startTime = this.value;

        document.getElementById('EndTime').min = startTime;

        if (document.getElementById('EndTime').value < startTime) {
            document.getElementById('EndTime').value = startTime;
        }
    });

    var startTimeInput = document.getElementById('StartTime');
    var endTimeInput = document.getElementById('EndTime');

    startTimeInput.addEventListener('input', function () {
        var startTimeValue = startTimeInput.value;
        endTimeInput.min = startTimeValue;

        // If the current end time is before the start time, reset the end time value
        if (endTimeInput.value < startTimeValue) {
            endTimeInput.value = startTimeValue;
        }
    });


    window.onload = toggleCheckboxes;
    function toggleCheckboxes() {
        var repeatCheckbox = document.getElementById('Isrepeat');
        var refile = document.getElementById('Refile');
        var checkboxes = document.querySelectorAll('.Every');

        if (!repeatCheckbox.checked) {
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false;
                checkbox.disabled = true;
                refile.disabled = true;
            });
        } else {
            checkboxes.forEach(function (checkbox) {
                checkbox.disabled = false;
                refile.disabled = false;
            });
        }
    }

    function menubox() {
        event.preventDefault();
        let checkboxes = document.querySelectorAll('.Every:checked');
        let repeatDays = [];
        checkboxes.forEach((checkbox) => {
            repeatDays.push(checkbox.value);
        });
        document.querySelector('#checkWeekday').value = repeatDays.join(',');
    };

</script>