@{
    Layout = "_AdminPhysicianHeader";
    ViewData["Active"] = "Access";
    ViewData["SubMenu"] = "User";

}

<div>

    <div class="d-flex justify-content-center mt-3">
        <div class="container">

            <div class="d-inline-flex justify-content-between w-100">

                <h3 class="m-2">User Access</h3>
                <div class="ml-auto">


                    <button class="  back-btn btn-outline-info back mt-2 rounded p-2 "
                            onclick="back()">
                        &lt Back
                    </button>
                </div>
            </div>
            <br />


            <div class="bg-white rounded shadow mt-3  ">
                <div class="row justify-content-between">
                    <div class="col-lg-3">
                        <div class="input-group  rounded ms-lg-4 me-lg-4 m-3 w-auto" style="border:2px solid #dee2e6; border-radius:5px;">

                            <span class="input-group-text inputIcon "><i class="bi bi-search "></i></span>
                            <select onchange="SearchByRegion()" class="form-select h-100 input StateDrop " aria-label="Default select example assignRegion">
                                <option value="0" selected>All</option>
                                <option value="1" >Admin</option>
                                <option value="2" >Physician</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 align-self-center">
                        <div class="float-lg-end text-center me-lg-4 mb-4 mt-2">
                            <a class="text-decoration-none createProvider" asp-action="CreateProviderAccount" asp-controller="Admin">
                                <button class="btn btn-info text-white">Create Provider Account</button>

                            </a>
                            
                            <a class="text-decoration-none createAdmin" asp-action="CreateAdminAccount" asp-controller="Admin">
                                <button class="btn btn-info text-white">Create Admin Account</button>

                            </a>
                        </div>
                    </div>
                </div>
                <div id="UserAccessTable">

                </div>
               
            </div>

        </div>
    </div>


</div>
<script>
    var str = str = $('.StateDrop').val();  
    $(document).ready(function () {

        $.ajax({
            method: "GET",
            url: "/Admin/GetUserAccess",
            data: { search: str },
            success: function (result) {
                if (result.includes("table")) {
                    $("#UserAccessTable").html(result);
                } else {
                    window.location.reload();
                }
            }
        });
        $('.createProvider').hide();
        $('.createAdmin').hide();

    });

    function SearchByRegion() {
        str = $('.StateDrop').val();
        if (str == "1") {
            $('.createAdmin').show();
            $('.createProvider').hide();

        }
        else if (str=="2") {
            $('.createProvider').show();
            $('.createAdmin').hide();


        }else{
            $('.createProvider').hide();
            $('.createAdmin').hide();
        }
        $.ajax({
            method: "GET",
            url: "/Admin/GetUserAccess",
            data: { search: str },
            success: function (result) {
                if (result.includes("table")) {
                    $("#UserAccessTable").html(result);
                } else {
                    window.location.reload();
                }

            }
        });
    }
</script>